.sidebar {
    position: absolute;
    top: 60px; /* Высота хедера */
    left: 0;
    width: 250px;
    height: calc(100% - 60px); /* Высота равна высоте окна минус высота хедера */
    color: #000000;
    box-shadow: -3px 0px 12px 0px rgba(0,0,0,0.2);
  }

.sidebar-link{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7F7F7;
    height: 40px;
    transition: 0.5s;
    cursor: pointer;
    animation: fadeIn 0.5s ease forwards;
}


.sidebar-link:hover{
    background-color: #ace5fb;
}

.active{
    background-color: #ace5fb;
    opacity: 1;
}

.sidebar-skeleton {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #F7F7F7 25%, #ffffff 50%, #F7F7F7 75%);
    background-size: 200% 100%;
    animation: loading 1.5s ease infinite;
  }
  
  @keyframes loading {
    0% {
      background-position: 100% 0;
    }
    100% {
      background-position: -100% 0;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
